img {
   width: 100%;
   object-fit: cover;
}

.steve_jobs {
    background-image: url(_img/steve.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
.bill_gates {
    background-image: url(_img/bill.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.alan_Turing {
    background-image: url(_img/alan.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    font-size: 120px !important;
    color: black;
}
a {
    text-decoration: none !important;
}

.steve {
    margin-left: 15%;
    
}
.jobs {
    margin-top: 6%;
    margin-left: 79%;
    

}
p {
    margin-top: -6.6% !important;
}
.bill {
    margin-left: 19%;
    color: white;
}
.gates {
    color: white;
    margin-left: 74%;
    margin-top: -2%;
}

.alan{
    margin-left: 3%;
}

.turing {
    margin-top: 10%;
    margin-left: 18%;
}
